.preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  background-color: #161616;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0 2rem;
}

.title {
  position: relative;
  font-family: Roboto;
  font-weight: 300;
  text-align: center;
  font-size: 3.5em;
  margin: 1.5rem 0;
}

.subtitle {
  position: relative;
  font-family: "Roboto";
  font-weight: 200;
  text-align: center;
  font-size: 1.5em;
  margin: 0 0 2.5rem;
}

.glyph-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 0 4rem;
}
