.vscode/
.git/
node_modules/

src/
demo/
resources/

*.vsix

.gitignore
.prettierrc.js
babel.config.js
eslint.config.mjs
babel.config.js
postcss.config.js
stylelint.config.js
tsconfig.json
webpack.config.ts
.gitattributes