@use "styles/variables";

.glyph {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 5rem;
  border: 1px solid variables.$grey;
  border-radius: 8px;
  padding: 0.25rem 0.5rem;
}

.name {
  font-family: Nunito, sans-serif;
  font-size: 1em;
  color: variables.$light-blue;
  text-align: center;
}

.unicode {
  font-family: font-glyph, monospace !important;
  font-size: 2em;
  font-style: normal;
  text-align: center;
  color: variables.$light;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}

.codes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 0.75rem;
  width: 100%;
}

.code {
  font-family: "Source Code Pro", monospace;
  font-size: 0.8em;
  color: variables.$light-grey;
  text-align: center;
}
