@use "sass:color";

$light: #f0f0f0;
$dark: #101010;
$grey: #4b4b4b;
$orange: #ff7c30;
$light-grey: #c7c7c7;
$light-blue: #95c6ff;
$dark-grey: #1f1f1f;
$dark-blue: #1a73e8;
$border: color.scale($grey, $lightness: -10%);
