.glyph {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-basis: 10%;
  border: 1px solid #444444;
  border-radius: 8px;
  padding: 10px;
}

.name {
  font-family: "Nunito";
  font-size: 12px;
  color: #b3b3b3;
  margin-bottom: 5px;
}

.unicode {
  color: white;
  font-family: font-glyph !important;
  font-size: 30px;
  font-style: normal;
  margin-bottom: 5px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}

.codes {
  color: #666666;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  font-size: 10px;
}

.code {
  color: #ff9e4f;
  // font-family: "Quicksand";
  font-family: iconfont-preview !important;
  font-size: 30px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
