@use "styles/variables";

.glyph-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.glyph-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-bottom: 1.5rem;
  width: 100%;
}
