@import "@styles/colors";

.glyph-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.glyph-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.glyph-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 8px;
  width: 100%;
}

.no-glyphs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1em;
  color: $grey;
}
