@import "@styles/colors";

.search-input {
  display: flex;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 2.5rem;
  font-family: "Roboto";
  font-weight: 400;
  color: $grey;
  padding: 10px;
  background-color: $dark;
  border: 1px solid $grey;
  border-radius: 8px;

  &:focus {
    outline: none;
    border-color: #ff7c30;
  }

  &::-webkit-search-cancel-button {
    color: #b3b3b3;
  }
}
