@use "styles/variables";

.search-input {
  display: flex;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 2.5rem;
  font-family: Roboto, monospace;
  font-weight: 400;
  color: variables.$grey;
  padding: 0.75rem;
  background-color: variables.$dark;
  border: 1px solid variables.$grey;
  border-radius: 8px;

  &:focus {
    outline: none;
    border-color: variables.$orange;
  }
}
