@use "styles/variables";

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.pagination-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 10%;
  height: 3rem;
  font-size: 1em;
  font-family: Roboto, monospace;
  font-weight: 400;
  color: variables.$light-grey;
  background-color: variables.$dark;
  transition-duration: 300ms;
  cursor: pointer;
  border-top: 1px solid variables.$dark-grey;
  border-bottom: 1px solid variables.$dark-grey;
  border-left: none;
  border-right: 1px solid variables.$dark-grey;

  &:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  &:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  &:hover {
    color: variables.$light-grey;
    background-color: variables.$grey;
  }

  &.active {
    color: #ff7c30;
    background-color: variables.$dark-grey;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #ff7c30;
  }

  &:disabled {
    cursor: not-allowed;
    color: variables.$dark-grey;
    background-color: variables.$dark-grey;
    border-color: variables.$dark-grey;
  }
}
