.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.pagination-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 10%;
  min-width: 4rem;
  height: 3rem;
  font-size: 0.75rem;
  font-family: "Roboto";
  font-weight: 400;
  color: #c7c7c7;
  background-color: #0e0e0e;
  transition-duration: 0.3s;
  cursor: pointer;
  border-top: 1px solid #282828;
  border-bottom: 1px solid #282828;
  border-left: none;
  border-right: none;

  &:first-child {
    border-left: 1px solid #282828;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  &:last-child {
    border-right: 1px solid #282828;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  &:hover {
    color: #bdbdbd;
    background-color: #4b4b4b;
  }

  &.active {
    color: #ff7c30;
    background-color: #1b1b1b;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #ff7c30;
  }

  &:disabled {
    cursor: not-allowed;
    color: #282828;
    background-color: #0e0e0e;
    border-color: #282828;
  }
}
